.boton{
    font-size: 15px;
    width: auto;
    background-color: #c9184a;
    color: #ffccd5;
    border: #ffccd5;
    border-radius: 3px;
    padding: 5px 25px;
    margin: 5px;
}

.navBar{
    text-align: center;
}